<ion-content *ngIf="!loading">
    <ion-card class="main-card background">
      <ion-card-header>
        <ion-card-title>
          {{ weatherDaily.summary }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let day of weatherDaily.data" (click)="expandItem(day)">
            <div class="item-container">
              <div class="header">
                <div class="pre-box">
                  <p><span class="day">{{ day.time * 1000 | date: 'EEEE' }}</span></p>
                  <p><span class="date">{{ day.time * 1000 | date: 'M/d' }}</span></p>
                </div>
                <img [src]="day.icon" class="weather-icon" />
                <div class="post-box">
                  <span class="high temp">{{ day.apparentTemperatureHigh | number: '1.0-0' }}</span>
                  <span class="low">{{ day.apparentTemperatureLow | number: '1.0-0' }}</span>
                  <span class="expand-arrow">
                    <ion-icon md="ios-arrow-down" [ngClass]="day.expanded ? 'rotated' : 'default'"></ion-icon>
                  </span>
                </div>
              </div>
              <expandable class="expandable" expandHeight="75px" [expanded]="day.expanded">
                <div class="pre-box">
                  <p><span>Sunrise: </span><span class="value">{{ day.sunriseTime * 1000 | date: 'shortTime' }}</span></p>
                  <p><span>Sunset: </span><span class="value">{{ day.sunsetTime * 1000 | date: 'shortTime' }}</span></p>
                  <p><span>Cloud Cover: </span><span class="value">{{ day.cloudCover | percent }}</span></p>
                </div>
                <div class="post-box">
                  <p><span>Precip Chance: </span><span class="value">{{ day.precipProbability | percent }}</span></p>
                  <p><span>Total Precip: </span><span class="value">{{ day.totalPrecip }} in</span></p>
                  <p><span>Wind: </span><span class="value">{{ day.windSpeed | number: '1.0-0' }} - {{ day.windGust | number: '1.0-0' }} mph</span></p>
                </div>
              </expandable>
            </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
