:host {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
}

ion-content {
    ion-card {
        overflow: auto;
        ion-card-header {
            box-shadow: 0 -7px 9px -9px rgba(0, 0, 0, .5) inset, 0 8px 10px -10px rgba(0, 0, 0, 0.4) inset;
            ion-card-title {
            }
        }
        ion-card-content {
            padding: 0;
            ion-card-subtitle {
            }
            ion-list {
                padding: 0;
                scroll-behavior: smooth;
                transition: padding-bottom 0.4s ease-in-out;
                width: 100%;
                ion-item {
                    --padding-start: 0px;
                    --padding-end: 0px;
                    --padding-right: 0;
                    --padding-inline-end: 0px;
                    --inner-padding-end: 0px;
                    .item-container {
                        width: 100%;
                        .header {
                            display: flex;
                            width: 100%;
                            img {
                                display: flex;
                                max-height: 63px;
                                width: auto;
                            }
                            .pre-box {
                                width: 90px;
                                margin: 5px 25px 0 5px;
                                .day {
                                    font-weight: 600;
                                    font-size: 16px;
                                }
                                .date {
                                    position: relative;
                                    top: -5px;
                                }
                            }
                            .summary {
                                display: none;
                                width: 100%;
                                font-size: 14px;
                            }
                            .post-box {
                                position: absolute;
                                right: 15px;
                                .high {
                                    font-size: 40px;
                                }
                                .low {
                                    padding-left: 15px;
                                    font-size: 20px;
                                    display: inline-block;
                                    width: 50px;
                                }
                                .expand-arrow {
                                    padding: 24px 0 0 10px;
                                    ion-icon {
                                        &.rotated {
                                            -webkit-animation: rotate 300ms linear;
                                            transform: rotate(180deg);
                                        }
                                        &.default {
                                            -webkit-animation: rotateBack 300ms linear;
                                            transform: rotate(0deg);
                                        }
                                    }
                                }
                            }
                        }
                        .expandable {
                            width: 100%;
                            .pre-box {
                                float: left;
                                width: auto;
                                padding: 0 20px;
                                p {
                                    padding-left: 10px;
                                    font-weight: 500;
                                }
                                .value {
                                    font-weight: 600;
                                }
                            }
                            .post-box {
                                float: right;
                                width: auto;
                                padding: 0 20px 0 0;
                                p {
                                    font-weight: 500;
                                    padding-right: 15px;
                                }
                                .value {
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
