:host {
    margin: 0;
}

ion-menu {    
    --width: 240px;
    .saved {
        --padding-start: 0px;
        .saved-location {
            height: 100%;
            width: 85%;
        }
        .label {
            padding-left: 16px;
            &.saved {
                margin-top: 15px;
            }
        }
    }
    .remove {
        position: absolute;
        right: 16px;
    }
}