<ion-menu contentId="main" side="start">
    <ion-header>
        <ion-menu-toggle autoHide="false">
            <ion-toolbar color="dark">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-menu-toggle>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>Menu Item 1</ion-item>
            <ion-item>Menu Item 2</ion-item>
            <ion-item>Menu Item 3</ion-item>
            <ion-item>Menu Item 4</ion-item>
            <ion-menu-toggle autoHide="false"><ion-item>Close Menu</ion-item></ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>