:host {
    width: 100%;
    display: block;
    &.default {
        top: -123px;
        position: absolute;
        &.small {
            top: 57px;
        }
    }
    &.show {
        top: 0;
        position: relative;
        -webkit-animation: dropDown 250ms linear;
        ion-icon.arrow {
            -webkit-animation: rotate 300ms linear;
            transform: rotate(180deg);
        }
        &.small {
            -webkit-animation: dropDownNoData 250ms linear;
        }
    }
    &.hide {
        top: -123px;
        left: 0px;
        position: absolute;
        -webkit-animation: dropUp 250ms linear;
        ion-icon.arrow {
            -webkit-animation: rotateBack 300ms linear;
            transform: rotate(0deg);
        }
        &.small {
            -webkit-animation: dropUpNoData 250ms linear;
            top: 57px;
        }
    }
}

ion-content {
    height: 310px;
    &.no-data {
        height: 130px;
    }
    ion-card {
        height: calc(100% - 10px);
        ion-card-header {
            ion-card-title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        ion-card-content {
            padding: 0 10px;
            ion-card-subtitle {
            }
            span.value {
                font-weight: 600;
            }
            .more-details {
                display: flex;
                position: absolute;
                top: 0px;
                width: calc(100% - 20px);
                .pre-box {
                    left: 9%;
                    position: absolute;
                    padding: 5px;
                    .value {
                        font-size: 50px;
                        line-height: 40px;
                        text-align: center;
                    }
                }
                .post-box {
                    text-align: left;
                    position: absolute;
                    left: 50%;
                }
            }
            .empty-state {
                color: var(--dark-text-color);
                font-size: 60px;
                line-height: 280px;
            }
            .chart {
                position: absolute;
                bottom: -65px;
                width: 100%; 
                .chart-background {
                    width: calc(100% - 26px);
                    position: absolute;
                    top: 12px;
                    .y-label {
                        color: var(--ion-color-medium-tint);
                        font-size: 12px;
                        font-weight: 600;
                        text-align: left;
                        border-bottom: dotted;
                        border-width: 1px;
                        border-color: var(--ion-color-medium-shade);
                        padding: 10px 0;
                        &.bottom {
                            border-bottom: solid;
                            border-width: 3px;
                            border-color: var(--ion-color-medium-shade);
                        }
                    }
                    .x-labels {
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-around;
                        .tick {
                            border-left: 3px solid var(--ion-color-medium-shade);
                            height: 5px;
                            width: 3px;
                            margin: auto;
                            position: relative;
                            top: -3px;
                            &.first {
                                margin-left: 0;
                            }
                            &.last {
                                margin-right: 0;
                            }
                        }
                        .x-label {
                            font-size: 12px;
                            font-weight: 600;
                            margin: auto;
                        }
                        .x-label:first-child {
                            margin-left: 0;
                        }
                        .x-label:last-child {
                            margin-right: 0;
                        }
                    }
                    .precip-total {
                    }
                }
                .chart-data {
                    .no-rain {
                        color: var(--ion-color-medium-shade);
                        font-size: 40px;
                        line-height: 120px;
                        width: 100%;
                        text-align: center;
                    }
                    width: calc(100% - 26px);
                    position: absolute;
                    top: 12px;
                    height: 120px;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    .bar-container {
                        background: transparent;
                        height: 100%;
                        margin: auto;
                        width: auto;
                        width: 3px;
                        .bar {
                            opacity: .5;
                            background: grey;
                            position: absolute;
                            bottom: 0px;
                            width: 5px;
                            max-height: 125px;
                        }                        
                    }
                    .bar-container:last-child {
                        .bar {
                            display: none;                            
                        }
                    }
                }
            }
        }
        .drawer {
            overflow: hidden;
            position: absolute;
            bottom: 0;
            height: 19px;
            width: 100%;
            text-align: center;
            .main-image {
                position: absolute;
                right: -15px;
                bottom: -28px;
                opacity: .5;
            }
            ion-icon {
                font-size: 18px;
            }
        }
    }
}

@-webkit-keyframes dropDown {
  0% { transform: translateY(-243px); }
  100% { transform: translateY(0px); }
}

@-webkit-keyframes dropUp {
  0% { transform: translateY(243px); }
  100% { transform: translateY(0px); }
}

@-webkit-keyframes dropDownNoData {
  0% { transform: translateY(-63px); }
  100% { transform: translateY(0px); }
}

@-webkit-keyframes dropUpNoData {
  0% { transform: translateY(63px); }
  100% { transform: translateY(0px); }
}