<ion-content (click)="toggleMinutelyCard()" *ngIf=!loading [ngClass]="!minutelyData ? 'no-data' : ''">
  <ion-card class="main-card">
    <ion-card-header>
      <ion-card-title *ngIf="minutelyData">
        {{ weatherMinutely.summary }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="more-details">
        <div class="pre-box">
          <p class="value temp">{{ weatherCurrent.apparentTemperature | number: '1.0-0' }}</p>
          <p>Feels like</p>
        </div>
        <div class="post-box">
          <p>Precip Chance: <span class="value">{{ weatherToday.precipProbability | percent }}</span></p>
          <p>Total Precip: <span class="value">{{ weatherToday.totalPrecip }} in</span></p>
          <p>Wind Gust: <span class="value">{{ weatherCurrent.windGust | number: '1.0-0' }} mph</span></p>
        </div>
      </div>
      <div class="chart" *ngIf="minutelyData">
        <div class="chart-background">
          <p class="y-label">HEAVY</p>
          <p class="y-label">MED</p>
          <p class="y-label bottom">LIGHT</p>
          <div class="x-labels">
              <span class="x-label"><p class="tick first"></p>Now</span>
              <span class="x-label"><p class="tick"></p>15 Min</span>
              <span class="x-label"><p class="tick"></p>30 Min</span>
              <span class="x-label"><p class="tick"></p>45 Min</span>
              <span class="x-label"><p class="tick last"></p>1 Hr</span>
          </div>
          <div *ngIf="totalPrecip > 0" class="precip-total">
              <p *ngIf="weatherMinutely.rainStarting">Rain starting in <span class="value">{{ weatherMinutely.rainStarting }} min</span></p>
              <p *ngIf="!weatherMinutely.rainStarting">Total Precipitation: <span class="value">{{ totalPrecip | number: '1.0-1' }} in</span></p>
          </div>
        </div>
        <div class="chart-data">
          <p *ngIf="totalPrecip === 0" class="no-rain">NO PRECIP</p>
          <span *ngFor="let minute of weatherMinutely.data" class="bar-container">
              <span class="bar" [ngStyle]="{'height':minute.chartHeight}"></span>
          </span>
        </div>
      </div>
    </ion-card-content>
    <div class="drawer">
      <div class="main-image">
        <img [src]="weatherCurrent.icon" />
      </div>
      <ion-icon md="ios-arrow-down" class="arrow"></ion-icon>
    </div>
  </ion-card>
</ion-content>
