<ion-content>
  <div class="border">
    <div class="content">
      <div class="sun">
        <img class="glow hide" src="assets/splash/glow.png" />
        <img class="blind hide" src="assets/splash/sun1.png" />
        <img class="blind hide" src="assets/splash/sun2.png" />
        <img class="blind hide" src="assets/splash/sun3.png" />
        <img class="blind hide" src="assets/splash/sun4.png" />
        <img class="blind hide" src="assets/splash/sun5.png" />
        <img class="blind hide" src="assets/splash/sun6.png" />
        <img class="blind hide" src="assets/splash/sun7.png" />
      </div>
      <div class="name">
      </div>
    </div>
  </div>
</ion-content>
