// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

@font-face {
  font-family: 'Star4000';
  src: url('./../assets/fonts/Star4000.woff') format('woff');
}

:host {
  margin: 0;
  background: var(--retro-card-background) !important;
}
.dark {
  .loaded-splash {
    background: var(--dark-card-background-darker);
  }
  background: var(--dark-card-background-darker);
  --color: var(--dark-text-color);
  ion-toolbar {
    --background: var(--dark-header-background);
    ion-title {
      color: var(--dark-temp-color);
    }
  }
  ion-card.main-card {
    color: var(--dark-text-color);
    ion-card-header {
      background: var(--dark-card-background);
      ion-card-title {
        color: var(--dark-text-color);
      }
    }
    ion-item {
      --background: var(--dark-card-background-darker);
    }
    background: var(--dark-card-background);
    .drawer {
      -webkit-box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 1);
      background: var(--dark-card-background);
    }
    .item-container {
      background: var(--dark-card-background);
    }
    &.background {
      ion-card-header {
        background: var(--dark-card-background-darker);
      }
      background: var(--dark-card-background);
    }
  }
  ion-card.minutely-card {
    background: var(--dark-card-background-lighter);
    ion-card-header {
      background: var(--dark-card-background-lighter);
    }
  }
  ion-card.list-item {
    color: var(--dark-text-color);
    background: var(--dark-card-background);
  }
  ion-item {
    --color: var(--dark-text-color);
  }
  .temp {
    color: var(--dark-temp-color);
  }
  .container {
    background: var(--dark-card-background-darker);
    box-shadow: 0 -6px 9px -9px rgba(0, 0, 0, 0.5) inset, 0 8px 10px -10px rgba(0, 0, 0, 0.4) inset;
  }
  ion-slides {
    background: var(--dark-card-background) !important;
  }
  daily-card {
    ion-list {
      background: var(--dark-card-background);
    }
  }
}
.light {
  .loaded-splash {
    background: var(--light-card-background-darker);
  }
  background: var(--light-card-background);
  --color: var(--light-text-color);
  ion-toolbar {
    --background: var(--light-header-background);
    ion-title {
      color: white;
    }
  }
  ion-card.main-card {
    color: var(--light-text-color);
    ion-card-header {
      background: var(--light-card-background);
      ion-card-title {
        color: var(--light-text-color);
      }
    }
    background: var(--light-card-background);
    .drawer {
      -webkit-box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.3);
      background: var(--light-card-background);
    }
    .item-container {
      background: var(--light-card-background);
    }
    &.background {
      ion-card-header {
        background: var(--light-card-background-lighter);
      }
      background: var(--light-card-background);
    }
  }
  ion-card.minutely-card {
    background: var(--light-card-background-lighter);
    ion-card-header {
      background: var(--light-card-background-lighter);
    }
  }
  ion-card.list-item {
    color: var(--light-text-color);
    background: var(--light-card-background);
  }
  ion-item {
    --color: var(--light-text-color);
  }
  .temp {
    color: var(--light-temp-color);
  }
  .container {
    background: var(--light-card-background-lighter);
    box-shadow: 0 -6px 9px -9px rgba(0, 0, 0, 0.5) inset, 0 8px 10px -10px rgba(0, 0, 0, 0.4) inset;
  }
  ion-slides {
    background: var(--light-card-background) !important;
  }
  daily-card {
    ion-list {
      background: var(--light-card-background);
    }
  }
}
.retro {
  font-family: 'Star4000' !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 1px 2px 0 #000, 2px 1px 0 #000, 2px 2px 0 #000;
  background: var(--retro-card-background-darker);
  --color: var(--retro-text-color);
  .loaded-splash {
    background: var(--retro-card-background-darker);
  }
  ion-content.main-app {
    background: var(--retro-card-background) !important;
  }
  app-main {
    ion-toolbar {
      --background: var(--retro-card-background-darker);
      // --background: linear-gradient(180deg, var(--retro-gradient-orange) 0%, var(--retro-gradient-purple) 80%, var(--retro-gradient-purple) 100%);
      ion-title {
        font-family: 'Star4000' !important;
        font-size: 24px;
        color: var(--retro-temp-color);
      }
    }
  }
  ion-card.main-card {
    font-family: 'Star4000';
    color: var(--retro-text-color);
    background: var(--retro-card-background);
    ion-card-header {
      ion-card-title {
        color: var(--retro-text-color);
      }
    }
    ion-item {
      --background: var(--retro-card-background-darker);
      --padding-start: 1px !important;
      --padding-end: 2px !important;
      --padding-bottom: 0 !important;
      --padding-top: 0 !important;
    }
    .drawer {
      -webkit-box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 1);
      background: var(--retro-card-background);
    }
    .item-container {
      background: linear-gradient(90deg, var(--retro-card-background-lighter) 0%, var(--retro-card-background-lighter) 30%, var(--retro-card-background) 100%);
    }
    &.background {
      ion-card-header {
        background: var(--retro-card-background-lighter);
      }
      background: var(--retro-card-background-darker);
      // background: linear-gradient(180deg, var(--retro-gradient-purple) 0%, var(--retro-gradient-orange) 100%);
    }
  }
  ion-card.minutely-card {
    background: var(--retro-card-background-lighter);
    ion-card-header {
      background: var(--retro-card-background-lighter);
    }
  }
  ion-card.list-item {
    font-family: 'Star4000';
    color: var(--retro-text-color);
    background: linear-gradient(90deg, var(--retro-card-background-lighter) 0%, var(--retro-card-background-lighter) 30%, var(--retro-card-background) 100%);
    border-radius: 0px;
    // margin: 6px !important;
    // box-shadow: 0 0 0 1px #000000, 0 0 0 4px var(--retro-darker-border), 0 0 0 5px #000000;
  }
  ion-item {
    font-family: 'Star4000';
    --color: var(--retro-text-color);
  }
  .temp {
    color: var(--retro-temp-color);
  }
  .container {
    background: var(--retro-card-background-lighter);
    box-shadow: 0 -6px 9px -9px rgba(0, 0, 0, 0.5) inset, 0 8px 10px -10px rgba(0, 0, 0, 0.4) inset;
  }
  ion-slides {
    background: var(--retro-card-background) !important;
  }
  main-card {
    .main-image {
      right: -5px !important;
      bottom: -15px !important;
      opacity: 1 !important;
      img {
        // max-height: 35px !important;
      }
    }
  }
  minutely-card .main-image {
    right: -5px !important;
    bottom: 4px !important;
    opacity: 1 !important;
    img {
      // max-height: 35px !important;
    }
  }
  hourly-card {
    ion-list {
      padding-top: 0px !important;
      padding-bottom: 1px !important;
      .post-box {
        width: 38%;
        height: 100%;
        .weather-icon {
          position: absolute;
          left: 0;
          width: 63%;
          height: 100%;
          display: flex;
          img {
            margin: auto;
            max-height: 38px !important;
          }
        }
        .precip-box {
          position: absolute;
          right: 0;
        }
      }
    }
  }
  daily-card {
    ion-card.main-card ion-card-header ion-card-title {
      -webkit-animation: scroll 10s linear infinite;
    }
    ion-list {
      background: var(--retro-card-background);
      .header {
        .pre-box {
          width: 75px !important;
        }
      }
    }
  }
}
ion-content {
  background: transparent;
  --background: transparent;
  ion-card.main-card {
    overflow: hidden;
    display: block;
    margin: 0;
    border-radius: 0;
    ion-card-header {
      padding: 8px 10px;        
      ion-card-title {
        font-size: 14px;
        text-align: left;
      }
    }
    ion-card-content {
      ion-card-subtitle {
        width: 100%;
      }
    }
  }
}

ion-menu {
  font-family: var(--ion-font-family);
  text-shadow: none;
  color: var(--dark-text-color);
  --width: 240px;
  .menu-list {
    height: 100%;
    ion-item {
      font-family: var(--ion-font-family);
      color: var(--dark-text-color) !important;
      --padding-start: 0;
      --inner-padding-start: 15px;
    }
  }
  .saved-places {
    height: calc(100% - 90px);
    overflow: auto;
  }
  .saved {
    --padding-start: 0px;
    .saved-location {
      height: 100%;
      width: 85%;
    }
    .label {
      padding-left: 5px;
      &.saved {
        margin-top: 15px;
      }
    }
  }
  .remove {
    position: absolute;
    right: 16px;
  }
  .theme {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: solid 1px lightgrey;
    .theme-modes {
      padding: 0px;
    }
    .theme-item {
      --padding-start: 0px;
      ion-label {
      }
      ion-note {
        font-size: 16px;
        padding-top: 16px;
        color: var(--ion-color-medium-rgb);
      }
    }
    .toggle {
      position: absolute;
      right: 16px;
    }
  }
}

// z-index of components
ion-content {
  main-card {
    z-index: 3;
  }
  minutely-card {
    z-index: 2;
  }
  hourly-card {
    z-index: 0;
  }
  daily-card {
    z-index: 0;
  }
  ion-slides {
    z-index: 1 !important;
    .swiper-wrapper {
      z-index: 1 !important;
    }
  }
}

@-webkit-keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}

@-webkit-keyframes rotateBack {
  0% { transform: rotate(180deg); }
  100% { transform: rotate(0deg); }
}

@-webkit-keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
