<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start" class="menu" >
            <ion-menu-button color="medium" autoHide="false">
                <ion-icon class="menu" name="menu"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>Boston</ion-title>
        <ion-buttons slot="end" class="refresh" [ngClass]="refresherClass()">
            <ion-icon name="refresh" (click)="refreshData()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf=!loading [ngClass]="loading ? '' : 'fade-in'">
<!--     <ion-refresher slot="fixed"
                   (ionRefresh)="refreshData()"
                   pullingIcon="refresh"
                   disabled="disableRefresh">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <main-card
                       (minutelyCard)="toggleMinuteCard()"
                       [ngClass]="minutelyCardVisible ? 'expanded' : 'collapsed'">
            </main-card>
            <minutely-card [ngClass]="minutelyCardVisible ? 'show' : 'hide'"
                           (minutelyCard)="toggleMinuteCard($event)">
            </minutely-card>
            <hourly-card></hourly-card>
        </ion-slide>
        <ion-slide>
            <daily-card></daily-card>
        </ion-slide>
    </ion-slides>
</ion-content>
