<ion-content>
    <ion-card class="main-card background">
<!--       <ion-card-header>
        <ion-card-title>
          {{ weatherHourly.summary }}
        </ion-card-title>
      </ion-card-header> -->
      <ion-card-content class="main-card">
        <ion-list>
          <ion-item *ngFor="let hour of weatherHourly.data" (click)="expandItem(hour)" class="hourly">
            <ion-card class="list-item">
              <ion-card-content class="list-item">
                <div class="list-item">
                  <div class="hourly-box">
                    <div class="pre-box">
                      <p class="hour">{{ hour.time * 1000 | date: 'h a' }}</p>
                      <p class="summary">{{ hour.summary }}</p>
                    </div>
                    <span class="temp">{{ hour.apparentTemperature | number: '1.0-0' }}</span>
                    <div class="post-box">
                      <span class="weather-icon"><img [src]="hour.iconPath" /></span>
                      <span class="precip-box">
                        <p class="precip">Precip:</p>
                        <p class="rain">{{ hour.precipProbability | percent }}</p>
                      </span>
                    </div>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
